# python
*.py[cod]
 
# C extensions
*.so
 
# tmps
*~
tmp/**/*
*.lock
*.DS_Store
*.swp
*.out
 
# build
.installed.cfg
downloads
build
dist
parts
var
sdist
lib
lib64
MANIFEST
 
# Unit test / coverage reports
.coverage
.tox
nosetests.xml
pep8.out
pylint.out
 
# egg related
develop-eggs
*.egg-info
*.egg
*.EGG
*.EGG-INFO
src/*.egg-info
eggs
fake-eggs
.installed.cfg
 
# django
local_settings.py
 
# source version control
.hg
.bzr
.svn
 
# Installer logs
pip-log.txt
 
# IDE
.idea
 
# Mr Developer
.mr.developer.cfg
.project
.pydevproject
 
# provision
.vagrant
